#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(18, 125, 42, 0.8);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: 5px solid #fff;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
  -webkit-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75); }

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 11.35px;
  top: 8.45px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  background: #fff; }

#return-to-top:hover i {
  color: rgba(18, 125, 42, 0.8); }

#phone-kathy {
  position: fixed;
  bottom: 75px;
  right: 20px;
  background-color: #fff;
  background-image: url(../images/phone-logo-kathy.svg);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: 5px solid #fff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
  -webkit-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75); }

.phone-logo-kathy {
  margin: 3px 0px 0px 3.25px;
  padding: 0px 0px 0px 0px;
  height: 34px; }

/* Popup container - can be anything you want */
/* The actual popup */
.popuptext {
  width: 90px;
  background-color: #555;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  bottom: 117%;
  left: 50%;
  margin-left: -47.5px;
  -webkit-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3; }

#phone-kathy i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 11.35px;
  top: 8.45px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#phone-kathy:hover {
  background-image: url(../images/phone-logo-kathy-hover.svg); }

#phone-kathy:hover i {
  color: #fff; }

/*# sourceMappingURL=back-to-top.css.map */
