@import normalize
@import skeleton
@import fonts

// Grid
.grid-pics

  figure
    margin-bottom: 25px
    position: relative
    overflow: hidden
    cursor: pointer

  .three.columns


    //&.is-showing
      opacity: 1
      transform: translateX(0px)

    img
      margin: auto
      display: block
      transform: scale(1)
      transition: all 0.3s ease-in-out

    //&:hover
      figcaption
        left: 0%

    //  img
        transform: scale(1.1)

//  figcaption
    position: absolute
    bottom: 10px
    left: -100%
    background: black
    color: white
    padding: 2px 8px
    font-size: 11px
    transition: all 0.3s ease-in-out
