
@media only screen and (max-width: 1000px) and (min-width: 500px) {
  .contact-text {
    float: none;
    padding-top: 50px;
    padding-left: auto;
    padding-right: auto;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
 }
 .contact-text .map-h5 {
   width: inherit;
   float: none;
   max-width: 800px;
  }

  .contact-text .map-h6 {
    width: inherit;
    float: none;
    max-width: 800px;
  }
  .map {
    width: 100%;
    float: none;
    padding-left: auto;
    padding-right: auto;
    margin: auto;
  }
  .map .map-frame {
    width: inherit;
    float: none;
    padding-left: auto;
    padding-right: auto;
    margin: auto;
  }
}


@media only screen and (max-width: 375px) and (min-width: 300px) {
  .header-fixed {
    padding: 0px 15px 0px 15px;
  }

  .header-fixed .logo-img {
    margin: 17.5px 10px 17.5px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    height: 35px;
  }
  .content-about  {
    padding-top: 25px;
  }
  .fadein {
  }
}

@media only screen and (max-width: 600px) and (min-width: 375px) {
  .header-fixed {
    padding: 0px 15px 0px 15px;
  }

  .header-fixed .logo-img {
    margin: 15px 10px 15px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    height: 40px;
  }

  .header-fixed nav .hamburger-menu {
  }

  .content-about  {
    padding-top: 45px;
  }
  .fadein {
  }
}

@media only screen and (max-width: 650px) and (min-width: 475px) {
  .header-fixed {
    padding: 0px 25px 0px 25px;
  }
  .content-about {
    margin-top: 125px;
  }
  .fadein {
    top: -55px;
  }
}

@media only screen and (max-width: 775px) and (min-width: 600px) {
  .header-fixed {
    padding: 0px 25px 0px 25px;
  }
  .content-2 .s6 img {
  }
}

@media only screen and (max-width: 868px) and (min-width: 775px) {
  .header-fixed {
    padding: 0px 35px 0px 35px;
  }
  .content-2 .s6 img {
  }
  .fadein {
  }
}


@media only screen and (max-width: 950px) and (min-width: 868px) {
  .header-fixed {
    padding: 0px 50px 0px 50px;
  }
  .content-2 .s6 img {
  }
  .fadein {
  }
}


@media only screen and (max-width: 950px) and (min-width: 0px) {
  .header-fixed nav .header-menu {
    display: none;
  }
  .header-fixed nav .hamburger-menu {
    display: block;
  }
}


@media only screen and (max-width: 1000px) and (min-width: 950px) {
  .contact-text {
    float: none;
    padding-top: 50px;
    padding-left: auto;
    padding-right: auto;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
 }
 .contact-text .map-h5 {
   width: inherit;
   float: none;
   max-width: 800px;
  }

  .contact-text .map-h6 {
    width: inherit;
    float: none;
    max-width: 800px;
  }
  .map {
    width: 100%;
    float: none;
    padding-left: auto;
    padding-right: auto;
    margin: auto;
  }
  .map .map-frame {
    width: inherit;
    float: none;
    padding-left: auto;
    padding-right: auto;
    margin: auto;
  }
  .header-fixed {
  }
  .fadein {
  }
  .fadein img {
  }
}


@media only screen and (max-width: 1075px) and (min-width: 950px) {
  .header-fixed {
    padding: 0px 50px 0px 50px;
  }
  .fadein {
  }
  .fadein img {
  }
}


@media only screen and (max-width: 1175px) and (min-width: 1075px) {
  .header-fixed {
    padding: 0px 65px 0px 65px;
  }
  .fadein {
  }
}


@media only screen and (max-width: 1275px) and (min-width: 1175px) {
  .header-fixed {
    padding: 0px 75px 0px 75px;
  }
  .fadein {
  }
}


@media only screen and (max-width: 1375px) and (min-width: 1275px) {
  .header-fixed {
  }
  .fadein {
  }
}


@media only screen and (max-width: 1500px) and (min-width: 1375px) {
  .header-fixed {
  }
  .fadein {
  }
}


@media only screen and (max-width: 1600px) and (min-width: 1500px) {
  .header-fixed {
  }
  .fadein {
  }
}


@media only screen and (max-width: 1650px) and (min-width: 1600px) {
  .header-fixed {
  }
  .fadein {
  }
}


@media only screen and (max-width: 1775px) and (min-width: 1650px) {
  .header-fixed {
  }
  .fadein {
  }
}


@media only screen and (max-width: 1900px) and (min-width: 1775px) {
  .header-fixed {
  }
  .fadein {
  }
}


@media only screen and (max-width: 1090px) and (min-width: 875px) {
  .header-fixed {
  }
  .fadein {
  }
}


@media only screen and (max-width: 1975px) and (min-width: 1090px) {
  .header-fixed {
  }
  .fadein {
  }
}



@media (min-width: 1975px) {
  .header-fixed {
  }
  .fadein {
  }
}

@media only screen and (max-width: 1919px) and (min-width: 0px) {
  .fadein {
    margin-top: 70px;
  }
}


@media only screen and (max-width: 2150px) and (min-width: 2075px) {
  .header-fixed {
  }
  .fadein {
  }
}
