/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: inline-grid; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
 }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }

* {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }

body {
  color: #373D3F;
	font-size: 16.5px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px; }

h1 {
  font-family: Verdana, Geneva, sans-serif;
  color: #373D3F;
  font-weight: 300;
  padding: 0px 30px 0px 30px;
  text-align: center;}


a {
  color: #373D3F;
  text-decoration: none; }

p {
  font-weight: bold;
  text-align: center;
  text-decoration: none; }

figure {
  margin: auto; }

hr {
  margin-top: 75px;
  margin-bottom: 75px;
  width: 300px; }




@mixin radial-gradient($from, $to) {
  background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-image: url(../images/lfe6prglw4-markus-pe.jpg);
}

.radial {
	@include radial-gradient(#555A5F, #000);
	width: 100%;
	height: 100%;
	position: absolute;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.95rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

  /* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons content and style it
  there.
  */

  /* For the headers to look good, be sure to reset the margin and padding of the body */

  body {
    margin:0;
    padding:0;
  }
@media only screen and(min-width: 900px){
  .content-2 .home-pic2{
    width: 75%;
  }
  .content-2 .home-pic{
    width: 65%;
  }
  .content-2 .len-bio{
    width: 60%;
  }
  .content-2 .renne-bio{
    width: 60%;
  }
}
@media only screen and(max-width: 900px){
  .content-2 .home-pic2{
    width: 95%;
  }
  .content-2 .home-pic{
    width: 85%;
  }
  .content-2 .len-bio{
    width: 75%;
  }
  .content-2 .renne-bio{
    width: 75%;
  }
}

  @media (max-width: 412px) {
    .home-quote {
      width: 80%;
    }
  }

  @media (max-width: 460px) {
    .content-2 {}
  }


  @media  (max-width: 550px) {
    .grid-pics {
    }
    .columns {
      width: 48%;
    }
    .grid-pics .renne-bio {
    }
    .grid-pics .len-bio {
    }
  }

  @media  (max-width: 582px) {
    .map-frame img {
    }
  }

  @media only screen and (min-width: 542px) and (max-width: 650px) {
    .content-1 article {
    }
  }

@media only screen and (min-width: 500px) and (max-width: 700px) {}

  @media (max-width: 700px) {
    .content-footer {
      margin-bottom: 0px;
      padding-bottom: 10px;
    }
    .content-footer .wrapper .social {
      display: inline-block;
    }
    .content-footer .wrapper {
      text-align: center;
      margin: 0px 0px 0px 0px;
    }
}

  /*Form*/
@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .columns figcaption {
      display: none;
  }
  .content-2 .center-image3.article-pic {
      width: 55%;
  }
}

@media only screen and (max-width: 675px) {
  .content-1 .subheader-fixed .drop-menu a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 320px) {
  .content-1 .subheader-fixed .drop-menu {
    padding-left: 4px;
    padding-right: 4px;
  }
  .content-1 .subheader-fixed .drop-menu a {
    font-size: 11px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  .content-1 .subheader-fixed .drop-menu {
    padding-left: 5px;
    padding-right: 5px;
  }
  .content-1 .subheader-fixed .drop-menu a {
    font-size: 12px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 975px) {
  .content-1 .subheader-fixed .drop-menu {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content-1 .subheader-fixed .drop-menu:hover {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content-1.subheader-fixed li#video-drop {
    width: 15%;
  }
}

@media only screen and (min-width: 975px) {
  .content-1 .subheader-fixed .drop-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 975px) {
  .content-1.subheader-fixed li#video-drop {
    width: 12%;
  }
}

@media only screen and (max-width: 850px) {
  .map-p {
    float: none;
    text-align: center;
    margin: 0 auto;
    padding: 0px 5px 0px 5px;
  }
  .map {
    float: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }
  .map .map-frame {
    width: 100%;
    text-align: center;
    float: none;
    padding: 0;
    margin: 0 auto;
  }
}

  @media only screen and (min-width: 0px) and (max-width: 300px) {
    .header-fixed {
      padding: 0px 10px 0px 10px;
    }

    .header-fixed .logo-img {
      margin: 20px 10px 20px 15px;
      height: 30px;
    }
    .header-fixed .hamburger-menu {
    height: 25px;
    width: 35px;
    }
  }



  @media only screen and (max-width: 375px) and (min-width: 300px) {
    .header-fixed {
    }

    .header-fixed .logo-img {
      margin: 15px 10px 15px 15px;
      height: 40px;
    }
    .content-2 .grid-pics .img-row {
      padding-left: 8.25px;
    }
  }

  @media only screen and (max-width: 600px) and (min-width: 375px) {
    .header-fixed {
      height: 60px;
    }

    .header-fixed .logo-img {
      margin: 15px 10px 15px 15px;
      height: 40px;
    }
    .header-fixed .hamburger-menu {
      top: 43;
      right: 42;
    }
    .content-2 .grid-pics .img-row {
      padding-left: 16.5px;
    }
  }
  @media only screen and (max-width: 575px){
    .subheader-fixed .header-menu{
    }
  }

  @media only screen and (max-width: 675px){
    .content-2 .article-pic {
      width: 40%;
    }
  }

  @media only screen and (max-width: 900px){
    .header-fixed .hamburger-menu {
      margin: inherit;
      padding: inherit;
      display: block;
    }
    #products-menu {
      display: none;
    }
  }

@media only screen and (max-width: 899px){
  .header-fixed .header-menu {
    display: none;
    visibility: hidden;
  }
}


  @media only screen and (min-width: 898px){
    .header-fixed .hamburger-menu {
      display: none;
      }
  }

@media only screen and (max-width: 1000px) and (min-width: 0px){
  .content-2 .center-image2 .lawn-pic {
    width: 45%;
  }
}


  @media only screen and(max-width: 1090px){
    .content-2 .title{
      text-align: center;
    }
  }


  @media only screen and(max-width: 1000px){
    .content-2 .side-bar{
      display: none;
    }
    .content-2 .side-bar-mobile {
      display: inline-block;
    }
    .content-2 .side-bar-mobile2 {
      display: inline-block;
    }
    .content-2 .side-bar-mobile3 {
      display: inline-block;
    }
    .content-2 .side-bar-mobile4 {
      display: inline-block;
    }
    .content-2 .side-bar-mobile5 {
      display: inline-block;
    }
  }

  @media only screen and (min-width: 1000px) and (max-width: 1250px){
    .content-2 .side-bar {
      width: 150px;
    }
  }

  @media only screen and (min-width: 1px) and (max-width: 310px) {
     #top.content-1 {
        height: 175px;
      }
      .fadein-2 {
        height: 175px;
        display: block;
      }
      .fadein-2 img {
        display: block;
        width: 100%;
      }
  }

  @media only screen and (min-width: 310px) and (max-width: 350px) {
     #top.content-1 {
        height: 180px;
      }
      .fadein-2 {
        height: 180px;
        display: block;
      }
      .fadein-2 img {
        display: block;
        width: 100%;
      }
  }

  @media only screen and (min-width: 350px) and (max-width: 385px) {
     #top.content-1 {
        height: 205px;
      }
      .fadein-2 {
        height: 205px;
        display: block;
      }
      .fadein-2 img {
        display: block;
        width: 100%;
      }
  }

  @media only screen and (min-width: 385px) and (max-width: 425px) {
     #top.content-1 {
        height: 225px;
      }
      .fadein-2 {
        height: 225px;
        display: block;
      }
      .fadein-2 img {
        display: block;
        width: 100%;
      }
  }

  @media only screen and (min-width: 425px) and (max-width: 475px) {
     #top.content-1 {
        height: 250px;
      }
      .fadein-2 {
        height: 250px;
        display: block;
      }
      .fadein-2 img {
        display: block;
        width: 100%;
      }
  }

  @media only screen and (min-width: 475px) and (max-width: 525px) {
     #top.content-1 {
        height: 275px;
      }
      .fadein-2 {
        height: 275px;
        display: block;
      }
      .fadein-2 img {
        display: block;
        width: 100%;
      }
  }

  @media only screen and (min-width: 525px) and (max-width: 575px) {
     #top.content-1 {
        height: 305px;
      }
      .fadein-2 {
        height: 305px;
        display: block;
      }
      .fadein-2 img {
        display: block;
        width: 100%;
      }
  }

  @media only screen and (min-width: 575px) and (max-width: 650px) {
     #top.content-1 {
        height: 325px;
      }
      .fadein-2 {
        height: 325px;
        display: block;
      }
      .fadein-2 img {
        display: block;
        width: 100%;
      }
  }

  @media only screen and (min-width: 650px) and (max-width: 800px) {
     #top.content-1 {
        height:375px;
      }
      .fadein-2 {
        display: block;
      }
      .fadein-2 img {
        display: block;
        width: 100%;
      }
  }

  @media only screen and (min-width: 800px) {
      .fadein-2 {
        display: none;
      }
  }

  @media only screen and (min-width: 1px) and (max-width: 800px) {
     #top.content-1 {
      }
      .fadein {
        display: none;
      }
      .fadein img {
        display: none;
      }
  }

  @media only screen and (min-width: 800px) and (max-width: 855px) {
     #top.content-1 {
        height:185px;
      }
      .fadein {
        height:185px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 855px) and (max-width: 920px) {
     #top.content-1 {
        height:200px;
      }
      .fadein {
        height:200px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 920px) and (max-width: 985px) {
     #top.content-1 {
        height:215px;
      }
      .fadein {
        height:215px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 985px) and (max-width: 1050px) {
     #top.content-1 {
        height:230px;
      }
      .fadein {
        height:230px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 1050px) and (max-width: 1100px) {
     #top.content-1 {
        height:245px;
      }
      .fadein {
        height:245px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 1100px) and (max-width: 1180px) {
     #top.content-1 {
        height:255px;
      }
      .fadein {
        height:255px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 1180px) and (max-width: 1245px) {
     #top.content-1 {
        height:275px;
      }
      .fadein {
        height:275px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 1245px) and (max-width: 1375px) {
     #top.content-1 {
        height:290px;
      }
      .fadein {
        height:290px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 1375px) and (max-width: 1695px) {
     #top.content-1 {
        height:315px;
      }
      .fadein {
        height:315px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 1695px) and (max-width: 1750px) {
     #top.content-1 {
        height:395px;
      }
      .fadein {
        height:395px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 1750px) and (max-width: 1920px) {
     #top.content-1 {
        height:405px;
      }
      .fadein {
        height:405px;
        width: 100%;
      }
      .fadein img {
        width: 100%;
      }
  }

  @media only screen and (min-width: 1920px) and (max-width: 2160px){
    .header-fixed {
      padding-left: 50px;
      padding-right: 50px;
    }
     #top.content-1 {
      height: 415px;
    }
    .fadein {
      height: 415px;
      width: 100%;
      }
    .fadein img {
      width: 100%;
      }
  }

  @media only screen and (min-width: 2160px) and (max-width: 10000px){
    .header-fixed {
      padding-left: 50px;
      padding-right: 50px;
    }
     #top.content-1 {
      height: 450px;
    }
    .fadein {
      height: 405px;
      width: 100%;
      }
    .fadein img {
      width: 100%;
      }
  }
